results
all_results_assamble
*.DS_Store
*.pyc
*.md
*.json
browser-use
browseruse
learnstagehand
udrive
build
.trash
# Environment variables
.env
*.env
.env.*

**/.claude/settings.local.json
results/**
all_results_assamble/**
all
uv.lock
